<div class="navBar">
			<ul>
				<li><div class="nav"><a href="./">Home</a></div></li>
				<li><div class="nav navBar"><a href="#">Add:</a></div>
					<div class="submenu">
						<a href="./add_laptop.html">Laptop</a>
						<a href="./add_manufacturer.html">Manufacturer</a>
						<a href="./add_cpu.html">CPU</a>
						<a href="./add_gpu.html">GPU</a>
						<a href="./add_laptop_cpu.html">Laptop/CPU pair</a>
						<a href="./add_laptop_gpu.html">Laptop/GPU pair</a>
					</div>
				</li>
				<li><div class="nav"><a href="./update_laptop.html">Update Laptop</a></div></li>
				<li><div class="nav"><a href="./delete_laptop.html">Delete Laptop</a></div></li>
				<li><div class="nav"><a href="#">Search</a></div>
					<div class="submenu">
						<a href="./search_laptops_cpu.html">Search Laptop by CPU</a>
						<a href="./search_laptops_gpu.html">Search Laptop by GPU</a>
					</div>
				</li>
				<li><div class="nav"><a href="./list.html">List Individual Entities</a></div></li>
				<li><div class="nav"><a href="#">About</a></div></li>
			</ul>
		</div>
		<div class="title">
			<h3>Enter the Name and RAM, and confirm the Manufacturer, CPU and Graphics of the laptop:</h3>
			<h5>
				(Note: if the manufacturer, CPU, or Graphics are not found, please add the desired row first)
			</h5>
			
		</div>
		<div>
			<form method="POST" id="add-laptop" action="/laptops">
				<div class="entityEntry">
		        	<label for="laptopName">Name</label>
		        	<input type="text" id="laptopName" name="laptopName">
		        </div>
		        <br>
		        <div class="entityEntry">
		        	<label for="laptopRAM">Manufacturer</label>
		        	<input type="text" id="laptopManu" name="laptopName">
		        </div>
		        <br>
		        <div class="entityEntry">
		        	<label for="laptopStorage">Storage</label>
		        	<input type="text" id="laptopStorage" name="laptopStorage">
		        </div>
				<br>
		        <div class="entityEntry">
		        	<label for="laptopRam">RAM</label>
		        	<input type="text" id="laptopRAM" name="laptopRAM">
		        </div>
		        <br>
		        <div class="entityEntry">
		        	<label for="laptopPDF">PDF link</label>
		        	<input type="text" id="laptopPDF" name="laptopPDF">
		    	</div>
		        
		        <br>
		        <div class="entityEntry">
	        		<button onclick="submitForm()">Submit</button>    		
	        	</div>
	        </form>
	        <!--<button id="checkVal">checkValue</button>-->
		</div>